APP_NAME="IB Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8084

LOG_CHANNEL=stack
LOG_STACK=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ib-postgres
DB_PORT=5432
DB_DATABASE=mmt_ib_service
DB_USERNAME=mmt_ib
DB_PASSWORD=change-me-ib

IB_TEST_DB_HOST=ib-postgres
IB_TEST_DB_PORT=5432
IB_TEST_DB_DATABASE=mmt_ib_service_testing
IB_TEST_DB_USERNAME=mmt_ib
IB_TEST_DB_PASSWORD=change-me-ib

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

RBAC_KAFKA_ENABLED=false
RBAC_IAM_FALLBACK_ENABLED=false
RBAC_INTERNAL_TOKEN=change-me-shared-token
RBAC_GATEWAY_INTERNAL_SECRET=apisix
